*{
  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.all{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.infobalk{
    width: 100%;
    height: 100px;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.logo{
    height: 50px;
    width: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.logo img{
    height: 125px;
    width: 175px;
}

.menubalk{
    width: 400px;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.menubalk a{
    color: #CC2029;
    text-decoration: none;
    font-size: large;
    font-weight: 500;
    
}


.login{
    width: 60px;
    height: 60px;
    background-color: #cc2029a5;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}

.login img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.order{
    width: 54px;
    height: 54px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    margin-right: 15px;
    
}

.order img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border-color: black;
    border-style: solid;
}

.parent{
    height: 50px;
    width: 800px;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.middle{
    
    width: 100%;
    height: 560px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.textarea{
    width: 60%;
    height: 510px;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagearea{
    width: 40%;
    height: 510px;
    background-color: rgb(255, 0, 0);
}

.imagearea img{
    width: 100%;
    height: 510px;
    
}

.headtext{
    width: 60%;
    height: 60px;
    
}

.littletext{
    width: 60%;
    height: auto;
    
}
.shopbutton{
    margin-top: 10px;
    width: 60%;
    height: 30px;
}

.shopbtn{
    width: 20%;
    height: 35px;
    border-radius: 20px;
    background-color: #CC2029;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

.shopbtn a{
    
    color: white;
    text-decoration: none;
}

footer{
    width: 100%;
    height: 56px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.text1{
    width: 20%;
    height: 56px;
    align-items: center;
}

.text2{
    width: 20%;
    height: 56px;
    align-items: center; 
}

.wrapper{
    width: 100%;
    height: 544px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    overflow: hidden;
}
.container{
    border-radius: 10px;
    box-shadow: -5px -5px 10px #fff,
                5px 5px 10px #babebc;
    position: absolute;
    width: 860px;
    min-height: 500px;
    overflow: hidden;            
}
.snoepert{
    background: #ebecf0;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;

  }

  form{
    width: 379.5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
form input{
    background: #eee;
    padding: 16px;
    margin: 8px 0;
    width: 85%;
    border: 0;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 7px 2px 10px #babebc,
                inset -5px -5px 12px #fff;
}
button{
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 45px;
    margin: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
}
.form_btn{
    box-shadow: -5px -5px 10px #fff,
                5px 5px 8px #babebc;
 
}
.form_btn:active{
    box-shadow: inset 1px 1px 2px #babebc,
                inset -1px -1px 2px #fff;
}
.overlay_btn{
    background-color: #cc2029a5;
    color: #fff;
    box-shadow: -5px -5px 10px #1f1a27,
                5px 5px 8px #cc2029a5;
                }
.sign-in-container{
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    transition: all 0.5s;
}   
.sign-up-container{
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
}  
.overlay-left{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
    background-color: #cc2029a5;
    color: #fff;
    transition: all 0.5s;
}      
.overlay-right{
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-color:#cc2029a5;
    color: #fff;
    transition: all 0.5s;
}     
.social-links{
    margin: 20px 0;

}
form h1{
    font-weight: bold;
    margin: 0;
    color: #000;
}
p{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}
span{
    font-size: 12px;
    color: #000;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}
.social-links div{
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    border-radius: 50%;
    box-shadow:  -5px -5px 10px #fff,
                5px 5px 8px #babebc;
    cursor: pointer;            
}
.social-links a{
    color: #000;
}
.social-links div:active{
    box-shadow:  inset 1px 1px 2px #babebc,
                inset -1px -1px 2px #fff;
}
.social-links a:hover{
    color: rgb(75, 248, 84);
}
 
.container.right-panel-active .sign-in-container{
    transform: translateX(100%);
    opacity: 0;
}
.container.right-panel-active .sign-up-container{
    transform: translateX(100%);
    opacity: 1;
    z-index: 2;
}
.container.right-panel-active .overlay-left{
    transform: translateX(-100%);
    opacity: 1;
    z-index: 2;
}
.container.right-panel-active .overlay-right{
    transform: translateX(-100%);
    opacity: 0;
}

.overlay-right h1{
    width: 294px;
}

.overlay-right p{
    width: 314px;
}

.overlay-left p{
    width: 314px;
}

.center{
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 30px;
    align-items: center;
}

.box12{
    width: 80%;
    height: 50%;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    
}

.box34{
    width: 80%;
    height: 50%;
   justify-content: space-around;
    display: flex;
    flex-direction: row;
   
}

.box1{
    width: 40%;
    height: 100%;
    border-radius: 20%;
    border-style: solid;
    border-color: black;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.box2{
    width: 40%;
    height: 100%;
    border-radius: 20%;
    border-style: solid;
    border-color: black;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.box3{
    width: 40%;
    height: 100%;
    border-radius: 20%;
    border-style: solid;
    border-color: black;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.box4{
    width: 40%;
    height: 100%;
    border-radius: 20%;
    border-style: solid;
    border-color: black;
    justify-content:center;
    display: flex;
    flex-direction: column;
}

.centerbox{
    width: 100%;
    height: 800px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 50px;

}

.productbox{
    width: 80%;
    height: 200px;
    border-radius: 80px;
    border-style: solid;
    border-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
}

.foto{
    width: 150px;
    height: 150px;
    background-color: red;
}

.beschrijving{
    width: 700px;
    height: 150px;
    
}

.prijs{
    width: 100px;
    height: 150px;

}

.title h1{
    height: 20px;
}

.foto img{
    width: 150px;
    height: 150px;
}

.niks{
    width: 100%;
    height: 70%;
    background-color: white;
}

.winkelmandje{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    background-color: red;
    border-radius: 30px;
}


.centerbox1{
    width: 100%;
    height: 560px;
    align-items: center;
    display: flex;
    flex-direction: column;
   
 

}

.contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #000;
}

.form-group {
    margin-bottom: 20px;
    
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 2.5px solid #ddd;
    border-radius: 4px;
    border-style: solid;
    border-color: #000;
   
}

.contact-form button {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #cc2029d2;
    color: white;
    font-size: 16px;
    transition: 0.5s;
}

.contact-form button:hover {
    background-color: #cc2029;
}

.boxtext{
    width: 100%;
    height: 70px;
    display: flex;
    align-items:center;
    justify-content: center;
}

.shoppingbox{
    width: 100%;
    height: 80%;
    border-radius: 60px;
}

.update{
    width: 20%;
    height: 50px;
    border-radius: 80px;
    border-style: solid;
    border-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
    text-decoration: none;
}

.ingelogt{
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.ingelogt2{
    width: 300px;
    height: 200px;
    background-color: #cc2029dc;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.textinlog{
    width: 250px;
    height: 200px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textinlog p{
    text-align: center;
}

.textinlog h1{
    width: 129px;
    height: 24px;
}
.korting{
    width: 160px;
    height: 62px;
    border-radius: 30px ;
    background-color: #cc2029dc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

